/* Voir https://getbootstrap.com/docs/5.0/customize/sass/  */
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/_variables.scss";

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}

:host {
  display: block;
}

$sex-colors: (
  male: (
    color: $primary,
    text: white
  ),
  female: (
    color: #ef99a7,
    text: #4d4d4d
  )
);

.pokemon-item {

  &.sex-male {
    background-color: map-deep-get($sex-colors, "male", "color");
    color: map-deep-get($sex-colors, "male", "text");
  }

  &.sex-female {
    background-color: map-deep-get($sex-colors, "female", "color");
    color: map-deep-get($sex-colors, "female", "text");
  }

  .name-col {
    text-transform: capitalize;
  }

  .image {
    width: 100%;
  }
}
