@function map-deep-get($map, $keys...) {
  @each $key in $keys {
      $map: map-get($map, $key);
  }
  @return $map;
}

$sex-colors: (
  male: (
    color: #0d6efd,
    text: white
  ),
  female: (
    color: #ef99a7,
    text: #4d4d4d
  )
);

.pokemon-item {

  &.sex-male {
    background-color: map-deep-get($sex-colors, "male", "color");
    color: map-deep-get($sex-colors, "male", "text");
  }

  &.sex-female {
    background-color: map-deep-get($sex-colors, "female", "color");
    color: map-deep-get($sex-colors, "female", "text");
  }
}
