<h2>Pokémons</h2>

<div class="mb-4 row">
  <div class="col-9">
    <input type="text" class="form-control" [(ngModel)]="currentPokemonName">
  </div>
  <div class="col-3">
    <button (click)="onAddPokemonBtnClick()" [disabled]="isButtonDisabled" class="btn btn-primary">Add</button>
  </div>
</div>

<div class="mb-4" *ngIf="hasAddedAPokemon; else noPokemon">
  Un pokémon a été ajouté
</div>

<ng-template #noPokemon>
  <div class="mb-4">
    Aucun pokémon n'a été ajouté
  </div>
</ng-template>

<ng-container *ngFor="let pokemon of pokemons; let i = index">
  <span class="index">{{ i }}</span> <app-pokemon-item></app-pokemon-item>
</ng-container>


